@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode Styles */
.light {
  background-color: theme("colors.light.background");
  color: theme("colors.light.text");
}

/* Dark Mode Styles */
.dark {
  background-color: theme("colors.dark.background");
  color: theme("colors.dark.text");
}